@use "./styles";
main {
  @include styles.flexbox(column);
  padding-top: 80px;
}
div.fixBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 💡 建議改為 -1 */
  background-color: #fff;
}
.banner {
  background-image: url("/img/banner_menu.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  position: relative;
  padding-top: 14%;
  line-height: 1;
  .bannerTitle {
    position: absolute;
    color: rgba(149, 30, 35, 0.6);
    top: 50%;
    left: 35px;
    font-size: 5vw;
    transform: translateY(-50%);
    font-weight: 700;
  }
}
.menulist_content {
  position: relative;
  padding: 25px 0;
  margin-bottom: 50px;
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
    .breadcrumbs {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      color: #951e23;
      margin-bottom: 50px;
      .breadcrumbs_link {
        display: block;
        align-items: center;
        margin-left: 10px;
        letter-spacing: 2px;
        white-space: nowrap;
      }

      .breadcrumbs_home {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        margin-left: 0;
      }
    }
    .menulist_list {
      margin-bottom: 25px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      width: 100%;
      .menulist_item {
        padding: 50px;
        width: 50%;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.1em;
        animation: fadeIn 1s ease;

        .menulist_itemContent {
          font-size: 16px;
          color: #962233;
          font-weight: normal;
          letter-spacing: normal;
          padding: 0 120px;
        }
        .menulist_itemPic {
          font-size: 28px;
          letter-spacing: 1px;
          text-align: center;
          img {
            margin-bottom: 25px;
          }
        }
      }
    }
    .menulist_note {
      padding: 25px 50px;
      font-size: 18px;
      color: #fff;
      background-color: #a78a70;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
